/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.07.2015, 15:28:36
    Author     : kjell
*/


body {
    background-image: url("/Bilder/Header/backgroundpixel.jpg");
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

/* Allgemein */
a {
    text-decoration: none;
}

.error {
    background-color: #FF0000;
}

.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.floatNone {
    float: none;
}
.marginTop {
    margin-top: 15px;
}

.marginTopGroß{
    margin-top: 44px;
}

/* Allgemein ende */
/* komplette header bereich */
header {
    position: relative;
    z-index: 0;
    width: 980px;
    text-align: left;
    margin: 0px auto;
    padding: 0px;
    height: 185px;
}

.headerLogo {
    text-align: center;
    width:  560px;
    margin: 0px auto;
}

.headerLogo img {
    position: relative;
    
    margin-top: 55px;
    width: 230px;
}

.menue {
    padding-left: 215px;
}

.menue nav { 
}
 
.menue nav ul {
  overflow: auto;
  list-style-type: none;
  height: 45px;
}
 
.menue nav ul li {
    font-size: 20px;
  //height: 35px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
.menue nav ul li:last-child {
  border-right: none;
}
 
.menue nav ul li a, .profilNav ul li a {
  text-decoration: none;
  color: #333;
  font-family: 25px/1 Gill Sans,Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.menue nav ul li a:hover, .profilNav ul li a:hover {
  color: #999;
}
 
.menue nav ul li.active a {
  font-weight: bold;
  color: #333;
}

/* Header Bereich ende */
/* Content Bereich*/

.content {
    width: 980px;    
    margin: 0 auto 0px;
    font-family: Gill Sans Light,Helvetica, Verdana, sans-serif;
}

/*Content ende*/
/*Profil Bereich*/
.profilContent {    
    
    width: 710px;    
}

.contentBackground {
    background-color: rgba(255,255,255,0.5);    
    -moz-box-shadow:1px 1px 6px #292929; /* Firefox */
    -webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
    -khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */
    /*box-shadow:1px 1px 6px #292929;*/ /* CSS3 */
}

.profilBild {
    text-align: center;
    width:  100px;
    height: 100px;   
    display: inline-block;
    margin-top: -21px;
    margin-left: -31px;
}

.profilBild img {    
    width: 100%;
    height: 100%;
}

.profilContent .shortInfo {
    width: 486px;
    height: 143px;
    margin-top: 17px;    
    margin-left: 247px;
}

.profilContent .profilVita .ueberschrift, .profilSuche .ueberschrift {
    //text-transform: uppercase;
    font-size: 14px;
}

.profilSteckbrief {
    vertical-align: top;
    width: 389px;
    margin-left: 13px;
    margin-top: -29px;
    line-height: 25px;
    display: inline-block;
}

.profilSteckbrief .name, .suchAbschnitt .name {
   // text-transform: uppercase;
   // font-size: 16px;
   // margin-bottom: 15px;
   // font-weight: bold;
}

.profilVita, .profilSuche {
    padding: 13px 0px 0px 14px;
    line-height: 20px;
    // margin-left: 140px;    
    // padding-right: 0px;
}

.profilVita {
    width: 472px;
    height: 130px;
    margin-top: 17px;    
    margin-left: 247px;
}

.profilSuche {
    width: 472px;
    height: 130px;
    margin-top: 17px;    
    margin-left: 247px;
}



.profilNav {
    width: 200px;
    padding: 10px;
    background-color: rgba(91, 201, 231, 0.4); 
    margin-right: 20px;
}

.profilNav ul {
    list-style: none;
    line-height: 30px;
    margin-top: 30px;
    padding-left: 30px;
}

.profilNavHead {
    margin: -10px;
    background-color: #3B92C2;  
    color: #fff;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.socialMediaIcons {
    width: 220px;
 // padding: 10px;   
 // margin-right: 20px;
}

/* ProfilBereich ende */
/* Startseite Bereich*/
.home .container {
    position: relative;
    width: 700px;
    height: 300px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.4); 
}

.home .container .teaser {
    padding: 30px 40px 40px;
    width: 406px;
}

.home .container .teaser .beschreibung {
    
}

.home .container .teaser a {
    width: 75px;
    padding: 3px 15px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -moz-user-select: none;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all 0.3s ease-out 0s;
}

.home .container .teaser .beschreibung img {
    width: 100%;
    height: 100%;
}

.home .optionContainer {
    margin: 0 83px;
}
.home .option {
    display: inline-block;
    width: 260px;
    height: 400px;
    margin-top: 60px;
    vertical-align: top;
}

.home .option .icon {
    text-align: center;
    height: 92px;
}
.home .option .icon img {
    width: 50px;
}

.home .option .ueberschrift {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.home .option .beschreibung {
    padding: 5px 20px;
    font-size: 12px;
    font-family: Gill Sans Light;
    line-height: 20px;
}
.model img {
    width: 382px;
    position: absolute;
    bottom: 0px;
    right: -117px;
}
/* Startseite Ende*/


/* Einstellungen Anfang */

.einstellungen {    
    height: 700px;
    padding: 20px;
}

.einstellungen .profilVita, .einstellungen .profilSuche {
    padding: 0;
    width: 100%;
    
}

.einstellungen textArea {
    width: 620px;
    height: 100px;
    resize: none;
}
/* Einstellungen Ende */

/* Suche Anfang*/

.suchAbschnitt {    
    width: 100%;
    height: 170px;
}

.suchAbschnitt .name {
    margin-left: 185px;
    padding-top: 20px;
}

.suchAbschnitt .name a {
    text-decoration: none;
    color: #000;
}